.storybook-button {
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    line-height: 150%;
  }
  .storybook-button--primary {
    /* Setting a default for the primary button here  */
    background-color: #0D61FF;
    font-weight: 400;
    color: white;
  }
  .storybook-button--secondary {
    color: #333;
    background-color: transparent;
    border-color: #D1D3D6, 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }
  .storybook-button--small {
    font-size: 12px;
    padding: 6px 12px;
  }
  .storybook-button--medium {
    font-size: 14px;
    padding: 8px 16px;
  }
  .storybook-button--large {
    font-size: 16px;
    padding: 10px 20;
    border-radius: 8px;
  }
  